title {display: block; font-size: 36pt; font-weight: bold;text-align: center;background-color:lightgreen}
author{display: block; font-size: 16pt; text-align: center}
paragraph {display:list-item; margin-left: 10px;margin-top:10; list-style-type: circle}



