to {display: block; font-size: 12pt;font-style: italic}
from {display: block; font-size: 12pt;font-style: italic}
heading {display: block; font-size: 18pt; color: #ff0000; }
body {display: block; font-size: 24pt; color: #0000ff;}